<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8/>
		<title> {% if page.title %} {{page.title}} | {% endif %} Santos Summer Research 2014</title>
		<link rel ="stylesheet" href="/css/style.css" />
	</head>

	<body>

		<div class= "container">
			<div class= "navbar">
				<a id= "logopos" href= "../index.html">
					<img id= "logo" src="../img/logo.png" height="250"/>
				</a>
				<ul>
					<li> <a href="/journey/" class="pagelink">	JOURNEY </a></li>
					<li><a href="/portfolio/" class="pagelink"> IDEAS </a>
<!-- 						<ul>
							<li> <p>IDEA 1 </p></li>
							<li> <p>IDEA 2 </p></li>
							<li> <p>IDEA 3 </p></li>
							<li> <p>IDEA 4 </p></li>
						</ul> -->
					</li>
					
					<li> <a href= "/contactus/" class="pagelink">
						CONTACT US </a>
					</li>
				</ul>
			</div>

			<section class= "transparent">

			{{ content }}

			</section>

			<div class= "footer">
				<ul>
					<li><a href="contactus.html" class="pagelink">Contact us </a></li>
					<li> <a href="http://santosresearch2014.wordpress.com/author/santosresearch2014/" class="pagelink"> Follow us </a></li>	
				</ul>
			</div>

		</div>

	</body>

</html>